.search_input {
    height: 38px;
    width: 300px;
    font-size: 20px;
    border: solid 1px #333043;
    border-radius: 4px;
    margin: 0 10px;
    display: block;
    padding: 0px 12px;
    font-family: 'Cabin', sans-serif;
}

.search_input::-webkit-input-placeholder {
    font-family: 'Cabin', sans-serif;
  }
  
  .search_input:-ms-input-placeholder {
    font-family: 'Cabin', sans-serif;
  }
  
  .search_input:-moz-placeholder {
    font-family: 'Cabin', sans-serif;
  }
  
  .search_input::-moz-placeholder {
    font-family: 'Cabin', sans-serif;
  }

.search_button {
    margin: 0 10px;
    height: 37px;
    size: 20px;
    font-size: 15px;
    border: solid 1px #333043;
    border-radius: 4px;
    padding: 0px 2px;
    width: 58px;
    font-family: 'Cabin', sans-serif;
    background: white;
    padding: 8px 4px;
    color: black;
}

.search_container {
    width: 100%;
    display: block;
}

.search_form {
    display: flex;
    align-items: center;
    justify-content: center;
}